#forgotpasswordform {
  width: 500px;
  border-radius: 5px;
  opacity: 0.8;
}

@media (max-width: 768px) {
  #forgotpasswordform {
    height: auto !important;
    width: 99% !important;
  }
}

#loginbtn {
  background-color: var(--red);
  color: white;
}

#loginbtn:hover {
  background-color: #a80335;
}

#loginbtn:active {
  background-color: #c7053f;
}

button:disabled {
  background-color: #c7738c;
  cursor: not-allowed;
}
